<a href="https://colab.research.google.com/github/Baji-NRI/INTRODUCTION-TO-ML/blob/main/basic_codeipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#String Methods
# 1.Lower()
# 2.Upper()
# 3.Capitalize()
# 4.Title()- convert the whole string into upper case with first alphatof each word

In [ ]:
# Example For title ()
s1 = "How to read a book?"
s1t = s1. title()
print (s1t)

How To Read A Book?

Input()- This method will Ask user to give a input to the system or The required environment

In [ ]:
first_name = input("enter your first name: ")
last_name = input("enter your last name: ")

age = input("enter your age: ")
gpa = input("enter your GPA: ")

hd = f"First name is {first_name}, last name is {last_name}, age is {age}, GPA is {gpa}"
print(hd.title())

enter your first name: shaik
enter your last name: baji
enter your age: 25
enter your GPA: 9.5
First Name Is Shaik, Last Name Is Baji, Age Is 25, Gpa Is 9.5

In [ ]:
 #add 2 numbers
n1 = int(input ("Enter first number"))
n2 = int(input ("Enter second number"))
n3 = n1+n2
print(type(n1))
print(type(n2))
print(n3)

Enter first number10
Enter second number20
<class 'int'>
<class 'int'>
30

In [ ]:
# Print a statement that shows sum of Three Different numbers (use input)
a = int(input("enter first number"))
b = int(input("enter second number"))
c = int(input("enter third number"))
n4 = n1+ n2+ n3
print (f"the sum of {n1},{n2},{n3},is:{n4}")

enter first number10
enter second number20
enter third number30
the sum of 10,20,30,is:60

In [ ]:
n1 = int(input("Enter first number"))
n2 = int(input("Enter second number"))
n3 = int(input("Enter third number"))
n4 = n1+ n2 +n3
print(f"the sum of {n1},{n2},{n3},is:{n4}")

Enter first number50
Enter second number10
Enter third number20
the sum of 50,10,20,is:80