<a href="https://colab.research.google.com/github/Baji-NRI/INTRODUCTION-TO-ML/blob/main/Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# operators

# Arthematic operator
#these are the operators for math., functions of methods to perform
#+
#-
#*
#/
#%

#Assignment operators
#These are the operators that are used to assign a value/constant
#to a variable

# =
#+= -> a += 1 -> a = a + 1
#-=
#*=
#/=

#companisional operators
#these operators all used to compare 2 or more constants ( or) variables
#>
#<
#>=
#<=
#>>
#<<

#logical operators
#these operators all used to perform any logical - and (or) not
#and
#or
#not

#Bitwise operators
#&
#l
#>>
#<<

#membership operators
#to verify or find out the presence of a variable or a char inside a "sequence"
#in
#not in

#Indentity operators
#check memory location - not value
#is
#is not

In [ ]:
num1 =100
num2 = 200

In [ ]:
print(num1+num2)

300

In [ ]:
num3 = 300
num3 +=1

In [ ]:
print(num3)

301

In [ ]:
print ((num3<num1) and (num3>num2))

False

In [ ]:
num1 = 300
num2 = 200

In [ ]:
print(num1+num2)

500

In [ ]:
num3 = 500

In [ ]:
num3 += 1

In [ ]:
print(num3)

501

In [ ]:
print((num3<num1)and (num3>num2))

False

In [ ]:
# write a solution to show the successive number using assignment operator

In [ ]:
num1 = 20
print(" successive number")
num1+=1
print(num1)

 successive number
21

In [ ]:
# Write a python script which can give the remainder using Aritmetic Operators

In [ ]:
num1 = 10
num2 = 20
print ("Arthematic operator")
print (num1%num2)

Arthematic operator
10

In [ ]:
num1 = 10
num2 = 5
print ("Arthematic operator")
print(num1%num2)

Arthematic operator
0