<a href="https://colab.research.google.com/github/Baji-NRI/INTRODUCTION-TO-ML/blob/main/Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Testing the variables with print function

In [ ]:
name = "Baji"
age = 20
GPA = 9.0
Height = 5.11
is_student = True

In [ ]:
print(name)

Baji

In [ ]:
 print(age)

20

In [ ]:
print(GPA)

9.0

In [ ]:
print(Height)

5.11

In [ ]:
print (is_student)

True

Formatting a string
>Pass "f" before ""or"" inside
the parantheses of print
function

In [ ]:
print(f"student name is {name} his/her age is {age} his/her GPA is {GPA}")

student name is Baji his/her age is 20 his/her GPA is 9.0

In [ ]:
introductionLine = f"My name is {name}, I'm {age} years old"

In [ ]:
 print(introductionLine)

My name is Baji, I'm 20 years old

type(obj)-Gives out the data type for the variable we are used

In [ ]:
print(type(name))

<class 'str'>

In [ ]:
print(type(age))

<class 'int'>

In [ ]:
print(type (is_student))

<class 'bool'>